h1 {
    color:#30415d;
    margin:auto;
    width:100%;
    justify-content: center;
    text-align: center;
    padding:2%;
}
.addContainer {
    color:#212529;
    background-color: white;
    padding:1%;
    border-radius: 1vh;
}
.addButton {
    padding:1%;
    margin:1%;
    background-color: #30415d;
    border-color: #30415d;
    color:#eeeeee;
}
.addButton:hover {
    background-color: #8eaebd;
    border-color: #8eaebd;
}
#categortiesButton {
    background-color: #30415d;
    border-color: #30415d;
    color:#eeeeee;
}
.authMessage{
    display: flex;
    font-size: large;
    padding:5%;
    margin:auto;
    text-align: center;
    justify-content: center;
    font-size: 5vh;
}