.loginContainer{
    background-color:#cf6766 !important;  
    border: 0px !important;
    color:#ffffff !important;
}

.loginButton {
    background-color: #cf6766 !important;
    color: #031424 !important;
    border-color: #cf6766 !important;
}
.loginGoogleButton {
    background-color: #8eaebd !important;
    color: #032434 !important;
    border-color: #032434 !important;
    width:100% !important;
}