.navbar{
    flex-direction: row;
    background-color: #30415d;
}
.navItem {
    color:#eeeeee !important;
}
#navDropdown {
    color:#eeeeee;
    background-color: #30415d;
}.navdropdown:hover {
    background-color: #30415d !important;
    color:#eeeeee !important;
}
.dropdown-menu {
    background-color: #8eaebd !important;
}
.navdropdown{
    background-color: #8eaebd;
    color:#031424 !important;
}
.navLeft{
    flex-direction: row;
    display: flex;
    align-items:  center;
}
.navRight{
    flex-direction: row;
    display: flex;
    margin-left: auto;
    align-items: center;
}