.postContainer {
    background-color:#eeeeee !important ;
    border-bottom: solid #cccccc 1px;
    color:#212529;
}
.commentButton {
    display: inline;
    flex-direction: row;
}
.commentButton:hover {
    background-color: #aaaaaa;
}
.commentImg {
    height:1rem;
}
.commentContainer {
    display: none;
}
.comments {
    max-height: 40%;
    overflow: visible;
    display:none;
}
.postTitle{
    color:#212529;
}
.commentListItem{
    padding:1%;
    padding-bottom:0;
    margin-bottom: 1%;
    border-bottom: solid #aaaaaa 1px;
}
.postButton {
    background-color: #8eaebd !important;
    color: #032434 !important;
    border-color: #8eaebd !important;
}