.signupContainer {
}
.signupFormContainer{
    background-color: #cf6766 !important;
    border: 0px !important;
}

.signupButton{
    background-color: #8eaebd !important;
    color: #032434 !important;
    border-color: #8eaebd !important;
}
.modal-content{
    background-color: #30415D !important;
}
.createButton {
    background-color: #8eaebd !important;
    color: #032434 !important;
    border-color: #032434 !important;
    margin:auto !important;
}